{% extends '../base.html' %} {% load static %} {% block title %}
الــــصــــفــــحـــــة الــــرئــــســـيــــة {% endblock title %} 
{% block sub_title %}الــــصــــفــــحـــــة الــــرئــــســـيــــة {% endblock  %} 
{% block content %}
<style>
  .not-index {
    display: none;
  }

  .mytext {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
  }
</style>
<div style="direction: rtl" class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div
    class="content-wrapper d-flex justify-content-center align-items-center bg-dark">
    <div
      class="d-flex justify-content-center align-items-center mydiv shadow-lg p-3 mb-5 rounded position-relative">
      <div class="" style="width: 200%">
        <h3 class="mytext text-center p-3">كلية التقنية الالكترونية</h3>
        <h2 class="mytext text-center p-3">{{user.profile}}</h2>
      </div>

      <img
        src="{% static 'dist/img/cet_logo.png' %}"
        alt="There's nothing to appear"
        class="w-25 h-25" />
      <div class="mytext position-absolute" style="bottom: 3%;left: 4%;"> كلية التقنية الاركترونية-طرابلس / بن عاشور</div>

     
    </div>
     <div class="position-absolute bg-dark" style="bottom: 5%">
        <h4>
          اهلا بعودتك من جديد {% if user.is_lecturer %}استاذ {% elif user.is_student %} طالب / طالبة {% elif user.is_staff%} مهندس / مهندسة{% endif %}
          <a href=" 'profile' %}"
            >{{user.first_name}} {{user.last_name}}</a
          >
        </h4>
      </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  jQuery(() => $("#menuLink").click());
</script>
{% endblock scripts %}
