{% extends "../base.html" %} {% load static %} {% block content %}
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item">
      <div class="img-fill">
        <img src="{% static 'website/images/slide-11.jpg' %} " alt="" />
        <div class="img-overlay"></div>
        <div class="text-content">
          <h5>حول الكلية</h5>
        </div>
      </div>
    </div>
    <!-- // Item -->
  </div>
</div>
<div class="scroll-down scroll-to-section">
  <a href="#features"><i class="fa fa-arrow-down"></i></a>
</div>

<!-- ***** About Area Starts ***** -->
<section class="section text-right" id="about" dir="rtl">
  <div class="container">
    <div class="section-heading text-center">
      <h2>حول الكلية</h2>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="section-heading text-right">
          <h2 class="fs-4">عن الكلية</h2>
          <h6>
            كلية التقنية الالكترونية هي احدى مؤسسات التعليم التقني في ليبيا
          </h6>
        </div>
        <div class="right-text-content">
          <p class="text-inline">كلية التقنية الإلكترونية – طرابلس</p>
          إحدى مؤسسات التعليم التقني في ليبيا والتي تخرج المهندسين التطبيقين من
          حملة درجة البكالوريوس التقني في مجالات الهندسة اللالكترونية ، وذلك
          لغرض خلق كوادر تقنية وفنية متخصصة في مجالات علوم الهندسة الإلكترونية
          قادرة على الإيفاء بمتطلبات خطط التحول والتنمية من خلال تغطية الجوانب
          النظرية والتركيز على الجوانب العملية وبأحدث الوسائل التقنية .

          <br /><br />
          في البداية تأسست الكلية تحت اسم ” المركز العالي للمهن الإلكترونية ”
          وكان يمنح درجة الدبلوم العالي التقني وذلك بناء على قرار أمين اللجنة
          الشعبية العامة للتعليم والبحث العلمي سابقاً(وزارة التعليم والبحث
          العلمي) رقم (98) لسنة1995 ، ومن ثم تم تحويله الى كلية تقنية بقرار من
          السيد أمين اللجنة الشعبية العامة سابقا (رئيس مجلس الوزراء) رقم 534
          لسنة 2009.

          <br />
          <br />
          و تتمتع الكلية بمستوى متميز جداً وإمكانيات وتجهيزات عالية تناظر
          الكليات والمعاهد العليا ومراكز التدريب التقني العالي في الدول المتقدمة
          مثل أمريكا وبريطانيا وألمانيا بالإضافة إلى نخبة من الأساتذة الليبييـن
          ذوي الخبرات والكفاءات العلمية القادرة على العطاء والتدريب ، وقد تمت
          ملاحظة ذلك من خلال الخريجين الذين حققوا نجاحات باهرة في أعمالهم مما
          أدى إلى الطلب .الملح عليهم لتعينيهم وتوظيفهم من قبل الجهات العامة
          والخاصة المختلفة والشركات المحلية والعالمية .
          <br /><br />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="left-text-content">
          <div class="row">
            <img src="{% static 'website/images/slide-10.jpg'%}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** About Area Ends ***** -->

<!-- ***** speaclized Area Starts ***** -->
<section class="section" id="about" dir="rtl">
  <div class="container">
    <div class="section-heading text-center">
      <h2>نظام الدراسة</h2>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="section-heading text-right">
          <h2 class="fs-4">نظام الدراسة</h2>
        </div>
        <div class="right-text-content">
          يتم في برنامج البكالوريوس بالكلية تطبيق نظام الفصل الدراسي المغلق ،
          حيث يستغرق الفصل الدراسي الواحد ستة عشر اسبوعاً ، وتكون مدة الدراسة
          الاجمالية في الكليةتمانيةفصول دراسية موزعة على ثلاث مراحل رئيسية مقسمة
          على النحو التالي :-
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="left-text-content">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="service-item">
                <img src="{% static 'website/images/graduation.png'%}" alt="" />
                <h4>‌ المرحلة العامة</h4>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="service-item">
                <img
                  src="{% static 'website/images/personal-development.png'%}"
                  alt="" />
                <h4>‌ المرحلة التخصصية</h4>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="service-item">
                <img src="{% static 'website/images/internship.png'%}" alt="" />
                <h4>‌ مرحلة التدريب الميداني</h4>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="service-item">
                <img src="{% static 'website/images/graduate.png'%}" alt="" />
                <h4>برنامج الدراسات العليا</h4>
              </div>
            </div>
            <div class="col-md-12" dir="ltr">
              <a href="#features" class="main-button-icon scroll-to-section">
                <i class="fa fa-arrow-left"></i>اعرف المزيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** About Area Ends ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="features" dir="rtl">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <img src="{% static 'website/images/graduation.png'%}" alt="" />
          </div>
          <div class="features-content">
            <h4>المرحلة العامة</h4>
            <p dir="rtl">
              ويشمل الفصلين الاولين من البرنامج الدراسي وتحتوي على المواد
              الاساسية في علوم الهندسة الالكترونية وكذلك المواد المساعدة مثل
              الرياضيات والفيزياء واللغة الانجليزية .
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
        data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <img
              src="{% static 'website/images/personal-development.png'%}"
              alt="" />
          </div>
          <div class="features-content">
            <h4>المرحلة التخصصية</h4>
            <p dir="rtl">
              وتكون من الفصل الثالث وحتى الفصل السابع وتحتوي على مواد تخصصية
              تنتهي بمشروع تطبيقي يسمى بمشروع التخرج او مشروع البكالوريوس التقني
              .
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <img src="{% static 'website/images/internship.png'%}" alt="" />
          </div>
          <div class="features-content">
            <h4>مرحلة التدريب الميداني</h4>
            <p dir="rtl">
              وتكون في الفصل النهائي (الفصل التامن) ويتم في هذا البرنامج تنسيب
              الطالب بعد اجتيازه كافة المواد الدراسية لإحدى الشركات أو المؤسسات
              العامة أوالخاصة ذات العلاقة بتخصص الطالب ولمدة فصل دراسي كامل
              (أربعة أشهر) يقوم الطالب خلال هذه الفترة بممارسة العمل تحت إشراف
              مشرفين أحدهما من الجهة المنسب اليها والأخر من الكلية ، وتكون هذه
              الفترة بمثابة كسر الحاجز بين المرحلة الدراسية ومرحلة العمل ، كما
              تكون بمثابة فترة تجريبية مجانية للجهات والمؤسسات تقوم بها باختبار
              الخريجين المتميزين والذين من الممكن فيما بعد أن يتم تعيينهم لديها
              عند الحاجة
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <img src="{% static 'website/images/graduate.png'%}" alt="" />
          </div>
          <div class="features-content">
            <h4>برنامج الدراسات العليا</h4>
            <p>
              يعد هذا من البرنامج الحديثة نسبيا ويهدف الي تعميق العمل والمعرفة
              وتشجيع الكفاءات العلمية على مسايرة التقدم السريع للعمل والتقنية
              ودفعهم الى الابتكار وتطوير البحث العلمي وذلك بناء على اتفاقية
              استضافة مع كلية التقنية الالكترونية بني وليد قسم الدراسات العليا
              ابتداء من 2017
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** speaclized Area Starts ***** -->
<section class="section" id="main_struct" dir="rtl">
  <div class="container">
    <div class="section-heading text-center">
      <h2>الهيكل الاداري</h2>
    </div>
    <br />
    <br />
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img
          src="{% static 'website/images/main_struct.jpg' %}"
          class="img-fluid"
          alt="Main Structure" />
      </div>
    </div>
  </div>
</section>

{% endblock content %}
