{% extends 'base.html' %} {% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'home/css/settings.css' %}" />
{% endblock custom_css %} {% block title%}قاعدة البـيانات{% endblock title %}
{% block sub_title %}قاعــــدة البيانات {% endblock %}
{% block content %}
<style>
  .modal-image {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #48db71;
    padding: 11px 10px 2px;
    margin-bottom: 2em;
  }

  .modal-body h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .modal-body p {
    margin-bottom: 2em;
    color: #666;
  }

  :root {
    --defualt-idr: .3s;
  }

  .pulse-grow {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Hide Tap Highlight Color */
    transform: translateZ(0);
    /* Hardware Acceleration */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  }

  .pulse-grow:hover {
    /* Improve Anti-Aliasing */
    animation-name: pulse-grow;
    /* Pulse Grow Keyframes */
    animation-duration: var(--defualt-idr);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes pulse-grow {
    to {
      transform: scale(1.1);
    }
  }
</style>
<div style="direction: rtl" class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <div class="content bg-dark">
      <div class="container-fluid bg-dark">
        <!-- form add employee -->
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-4 mb-4">
            <a href="#" data-bs-toggle="modal" data-bs-target="#fileForm">
              <div class="card bg-gradient-info jBounceIn shadow-lg rounded " style="width: 18rem">
                <img src="{% static 'settings/upload_excel.png' %}" class="card-img-top" alt="..." />
                <div class="card-body card-info">
                  <p class="card-text text-center fs-4" styel="c">
                    استيراد ملف الاكسل
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-4 mb-4">
            <a data-bs-toggle="modal" data-bs-target="#GetFile">
              <div class="card bg-gradient-navy jBounceIn shadow-lg rounded" style="width: 18rem">
                <img src="{% static 'settings/download_excel.png' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <p class="card-text text-center fs-4">تصدير ملف الاكسل</p>
                </div>
              </div>
            </a>
          </div>
          {% if user.profile.job_place.id == 1 %}
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6  mt-4 mb-4">
            <a data-bs-toggle="modal" data-bs-target="#backUpForm">
              <div class="card bg-gradient bg-black  jBounceIn shadow-lg rounded" style="width: 18rem">
                <img src="{% static 'settings/db_backup.png' %}" class="card-img-top" alt="..." />
                <div class="card-body card-info">
                  <p class="card-text text-center fs-4">النسخ الاحتياطي</p>
                </div>
              </div>
            </a>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <!-- Modals -->
  <div class="modal fade" id="fileForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark bg-dark">
        <div class="modal-header bg-gradient bg-info">
          <h5 class="modal-title" id="exampleModalLabel">
            رفع ملف الإكسل
          </h5>
          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id='FileForm' method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="id_excel_file" class="drop-container" id="dropcontainer">
              <span class="drop-title">افلات الملف هنا </span>
              او
              <input type="file" name="excel_file" id="id_excel_file" value="اختر ملف"
                accept=".xls, .xlsx, .xlsm, .xlsb, .xltx, .xltm, .xlam, .xlr" required />
            </label>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="form-label" for="id_job_place">جهة العمل</label>
                <select name="job_place" class="form-select" required id="id_job_place" fdprocessedid="jp2iza">
                  {% if job_places %}
                  {% for job_place in job_places %}
                  <option value="{{job_place.id}}">
                    {{job_place}}
                  </option>
                  {% endfor %}
                  {% else %}
                  <option value="{{user.profile.job_place.id}}">
                    {{user.profile.job_place}}
                  </option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">
                  رجوع <i class="fas fa-chevron-circle-right ml-3"></i>
                </button>
              </div>
              <div class="form-group col-md-6">
                <button type="submit" onclick="showMenu()" class="btn btn-primary w-100">
                  رفع الملف <i class="fas fa-file-upload ml-3"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-gradient bg-info"></div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="GetFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-navy bg-gradient">
          <h5 class="modal-title" id="exampleModalLabel">
            تصدير ملف الاكسل
          </h5>
          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form start -->
          <form method="get" enctype="multipart/form-data" id="getFileForm" onsubmit="return checkPasswords()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="form-label" for="file_passowrd">كلمة المرور</label>
                <input type="password" name="file_password" maxlength="128" class="form-control"
                  placeholder="رجاء ادخال كلمة مرور لملف الاكسل" required="" id="id_password1" />
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="form-label" for="second_password">تأكيد كلمة المرور
              </label>
              <input type="password" name="second_password" maxlength="128" class="form-control"
                placeholder="رجاء اعادة ادخال كلمة مرور" required="" id="id_password2" />
            </div>
            <div class="form-group col-12">
              <label>المركز الصحية</label>
              <select class="form-select" name="HealthCenter" id="Id_HealthCenter" aria-label="Select Health Center">
                {% if job_places %}
                <option value="0">
                  الكل
                </option>
                {% for job_place in job_places %}
                <option value="{{job_place.id}}">
                  {{job_place}}
                </option>
                {% endfor %}
                {% else %}
                <option value="{{user.profile.job_place.id}}">
                  {{user.profile.job_place}}
                </option>
                {% endif %}
              </select>
            </div>
            <div class="form-row mt-4">
              <button type="submit" id="expordBtn" class="btn btn-success w-100 ">
                تصدير <i class="fas fa-file-download ml-3"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-navy bg-gradient"></div>
      </div>
    </div>
  </div>


  {% if user.profile.job_place.id == 1 %}
  <div class="modal fade" id="backUpForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-black bg-gradient">
          <h5 class="modal-title" id="exampleModalLabel">
            نسخة احتياطي لقاعدة البيانات
          </h5>
          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <div class="p-5 fs-4">
            هل انت متأكد انك تريد اخذ نسخة احتياطية من قاعدة البيانات ؟
          </div>
          <!-- form start -->
          <form method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="checkbox" name="dbbackup" class="d-none" checked />
            <div class="form-row col-12">
              <div class="col-md-6">
                <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">
                  رجوع
                </button>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary w-100">
                  حفظ التغيرات
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-black bg-gradient">
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <div class="modal fade" id="employeeMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg bg-dark">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-gradient bg-info">
          <h5 class="modal-title" id="exampleModalLabel">
            الموظفين </h5>

          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center bg-dark">
          <div class="d-flex justify-content-center m-3">
            <div class="spinner-border text-success" role="status" style="width:10rem;height: 10rem;">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="modal-image d-none">
            <svg viewBox="1 0 30 40" style="fill: #48db71">
              <path d="M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z"></path>
            </svg>
          </div>
          <h1 id="employeeMenuHead">تمت العملية بنجاح !</h1>
          <p id="employeeMenuText">تمت عملية اضافة الموظفين بنجاح</p>
          <div class="table-responsive">
            <div class="card d-print-table-row bg-dark">
              <div class="card-header">قائمة الموظفين</div>
              <div class="card-body">
                <div class="my-custom-scrollbar">
                  <table class="table d-print-table">
                    <thead>
                      <tr>
                        <th>الاسم</th>
                        <th>الحالة</th>
                      </tr>
                    </thead>
                    <tbody id="tbody" class="bg-dark"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer  bg-gradient bg-info"></div>
      </div>
    </div>
  </div>
<div class="modal fade" id="successMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-gradient bg-success">
        <h5 class="modal-title" id="exampleModalLabel">
          رسالة
        </h5>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center bg-dark">
        <div class="modal-image">
          <svg viewBox="1 0 30 40" style="fill: #48db71">
            <path d="M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z"></path>
          </svg>
        </div>
        <h1>تمت العملية بنجاح !</h1>
        <p>تمت عملية اضافة الموظف بنجاح</p>
      </div>
      <div class="modal-footer bg-gradient bg-success"></div>
    </div>
  </div>
</div>
  <div class="modal fade" id="errorMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger bg-gradient">
          <h5 class="modal-title" id="exampleModalLabel">رسالة خطأ</h5>
          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center bg-dark">
          <img src="{% static 'dist/img/error.png' %}" class="w-25 h-25 mb-3" alt="" />
          <h1>لم تتم عملية بنجاح !</h1>
          <p>تأكد من الاتصال </p>
        </div>
        <div class="modal-footer bg-danger bg-gradient"></div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
{% block scripts %}
<script>
  function checkPasswords() {
    const password1 = document.getElementById("id_password1");
    const password2 = document.getElementById("id_password2");
    if (password1.value !== password2.value) {
      alert("كلمة المرور وتأكيد كلمة المرور غير متطابقين!");
      password2.value = "";
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
  const dropContainer = document.getElementById("dropcontainer");
  const fileInput = document.getElementById("upload_file");

  dropContainer.addEventListener(
    "dragover",
    (e) => {
      // prevent default to allow drop
      e.preventDefault();
    },
    false
  );

  dropContainer.addEventListener("dragenter", () => {
    dropContainer.classList.add("drag-active");
  });

  dropContainer.addEventListener("dragleave", () => {
    dropContainer.classList.remove("drag-active");
  });

  dropContainer.addEventListener("drop", (e) => {
    e.preventDefault();
    dropContainer.classList.remove("drag-active");
    fileInput.files = e.dataTransfer.files;
  });
  const successMsg = new bootstrap.Modal(document.getElementById("successMsg"));
  const errorMsg = new bootstrap.Modal(document.getElementById("errorMsg"));
  const theModal = document.getElementById("employeeMenu");
  const employeeMenu = new bootstrap.Modal(theModal);

  function updateTable(data) {
    console.log(data)
    $("#tbody").empty();
    if (data.length === 0) {
    } else {
      $("#notFound").hide();

      $.each(data, function (index, employee) {
        let row = $("<tr>");

        row.append($("<td>", { text: employee }));
        row.append($("<td>", { text: "تمت إضافته بنجاح" }));
        row.appendTo("#tbody");
      });
      $("#employeeMenuHead").text("تمت العملية بنجاح ! ").addClass("text-success");
      $("#employeeMenuText").text("تمت عملية اضافة الموظفين بنجاح");
      $(".modal-image").removeClass("d-none")
      $(".spinner-border").hide();

    }
  }

  function showMenu() {
    $("#employeeMenuHead").text("تتم الان عملية رفع الملف ");
    $("#employeeMenuText").text("تتم الان عملية رفع الملف  الرجاء الانتظار");
    $(".spinner-border").show();
    employeeMenu.show();
  }
  $("#FileForm").on("submit", function (event) {
    event.preventDefault();
    var data = new FormData(this);
    $.ajax({
      url: "/settings/",
      type: "POST",
      processData: false,
      contentType: false,
      data: data,
      success: function (data) {
        updateTable(data['added_records']);
        employeeMenu.show();
        theModal.addEventListener('hidden.bs.modal', function (event) {
          window.location.reload();
        });

      },
    })
  })
</script>
{% endblock %}