{% extends "../base.html" %} {% load static %} {% block content %}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item">
      <div class="img-fill">
        <img src="{% static 'website/images/slide-06.jpg' %}" alt="" />
        <div class="img-overlay"></div>
        <div class="text-content">
          <h5>صفحة الاخبار</h5>
        </div>
      </div>
    </div>
    <!-- // Item -->
  </div>
</div>
<div class="scroll-down scroll-to-section">
  <a href="#news"><i class="fa fa-arrow-down"></i></a>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** news Starts ***** -->
<section class="section" id="news" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h6>الاخبار</h6>
          <h2>اخر الاخبار</h2>
        </div>
      </div>
      <div
        class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="owl-carousel">
          <a href="#top">
            <div class="item author-item">
              <div class="member-thumb">
                <img src="{% static 'website/images/news-1.jpg' %}" alt="" />
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul>
                      <h2 class="text-white">الاطلاع على الخبر</h2>
                    </ul>
                  </div>
                </div>
              </div>
              <h4>اعتماد نتيجة طلبة الدراسات العليا</h4>
              <span
                >#اعتماد_نتيجة_طلبة_الدراسات_العليا كلية التقنية الالكترونية
                طرابلس</span
              >
            </div>
          </a>
          <a href="#top">
            <div class="item author-item">
              <div class="member-thumb">
                <img src="{% static 'website/images/news-2.jpg' %}" alt="" />
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul>
                      <h2 class="text-white">الاطلاع على الخبر</h2>
                    </ul>
                  </div>
                </div>
              </div>
              <h4>البدء في إيقاف القيد</h4>
              <span
                >#اعتماد_نتيجة_طلبة_الدراسات_العليا كلية التقنية الالكترونية
                طرابلس</span
              >
            </div>
          </a>
          <a href="#top">
            <div class="item author-item">
              <div class="member-thumb">
                <img src="{% static 'website/images/news-3.jpg' %}" alt="" />
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul>
                      <h2 class="text-white">الاطلاع على الخبر</h2>
                    </ul>
                  </div>
                </div>
              </div>
              <h4>الخطة الدراسية المعتمدة ربيع (2023)</h4>
              <span
                >#اعتماد_نتيجة_طلبة_الدراسات_العليا كلية التقنية الالكترونية
                طرابلس</span
              >
            </div>
          </a>
          <a href="#top">
            <div class="item author-item">
              <div class="member-thumb">
                <img src="{% static 'website/images/news-4.jpg' %}" alt="" />
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul>
                      <h2 class="text-white">الاطلاع على الخبر</h2>
                    </ul>
                  </div>
                </div>
              </div>
              <h4>إجتماع لمتابعة سير العملية التعليمية</h4>
              <span
                >#اعتماد_نتيجة_طلبة_الدراسات_العليا كلية التقنية الالكترونية
                طرابلس</span
              >
            </div>
          </a>
          <a href="#top">
            <div class="item author-item">
              <div class="member-thumb">
                <img src="{% static 'website/images/news-5.jpg' %}" alt="" />
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul>
                      <h2 class="text-white">الاطلاع على الخبر</h2>
                    </ul>
                  </div>
                </div>
              </div>
              <h4>توقيع اتفاقية توفق و تعاون</h4>
              <span
                >#اعتماد_نتيجة_طلبة_الدراسات_العليا كلية التقنية الالكترونية
                طرابلس</span
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** news Ends ***** -->

{% endblock %}
