{% extends '../base.html' %} {% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'home/css/settings.css' %}" />
{% endblock custom_css %} {% block title%}إدارة المحتوى{% endblock title %}
{% block sub_title %}إدارة المحتوى {% endblock %}
{% block content %}
<style>
  .modal-image {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #48db71;
    padding: 11px 10px 2px;
    margin-bottom: 2em;
  }

  .modal-body h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .modal-body p {
    margin-bottom: 2em;
    color: #666;
  }

  :root {
    --defualt-idr: .3s;
  }

  .pulse-grow {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Hide Tap Highlight Color */
    transform: translateZ(0);
    /* Hardware Acceleration */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  }

  .pulse-grow:hover {
    /* Improve Anti-Aliasing */
    animation-name: pulse-grow;
    /* Pulse Grow Keyframes */
    animation-duration: var(--defualt-idr);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes pulse-grow {
    to {
      transform: scale(1.1);
    }
  }
</style>
<div style="direction: rtl" class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <div class="content bg-dark">
      <div class="container-fluid bg-dark">
        <div class="row">
          {% for post in posts %}
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-4 mb-4">
            <div class="card jBounceIn shadow-lg rounded" style="width: 17rem;">
              <div
                class="card-header {% if post.published %}bg-gradient-info{% else %}bg-gradient-danger{% endif %} text-center">
                {{post.title}}{% if post.published %} (منشور) {% endif %}
              </div>
              <img src="{{post.post_cover.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{post.title}}</p>
                <a href="{% url "blog_edit" id=post.id %}" class="btn btn-primary">تعديل</a>
                <a href="#" class="btn btn-danger">حذف</a>
                <a href="#" class="btn btn-outline-info">ايقاف مؤقت</a>
              </div>
              <div class="card-footer text-muted">
                منذ يومين
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mt-4 mb-4">
            <a href="{% url "blog_create" %}">
              <div class="card bg-gradient-white jBounceIn shadow-lg rounded " style="width: 18rem">
                <img src="{% static 'settings/upload_excel.png' %}" class="card-img-top" alt="..." />
                <div class="card-body card-info">
                  <p class="card-text text-center fs-4" styel="c">
                    إضافة خبر
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% if paginator.num_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if paginator.has_previos %}
      <li class="page-item">
        <a class="page-link" href="?page={{paginator.previos}}" tabindex="-1" aria-disabled="true">السابق</a>
      </li>
      {% endif %}
      {% for page_num in paginator.page_range %}
      <li class="page-item {% if page_num == page_number %}active{% endif %}">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
      </li>
      {% endfor %}
      {% if paginator.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{paginator.next}}">التالي</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  <div class="modal fade" id="successMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-gradient bg-success">
          <h5 class="modal-title" id="exampleModalLabel">
            رسالة
          </h5>
          <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center bg-dark">
          <div class="modal-image">
            <svg viewBox="1 0 30 40" style="fill: #48db71">
              <path d="M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z"></path>
            </svg>
          </div>
          <h1>تمت العملية بنجاح !</h1>
          <p>تمت عملية اضافة الموظف بنجاح</p>
        </div>
        <div class="modal-footer bg-gradient bg-success"></div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errorMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger bg-gradient">
          <h5 class="modal-title" id="exampleModalLabel">رسالة خطأ</h5>
          <button type="button" class="btn-close m-0 bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center bg-dark">
          <img src="{% static 'dist/img/error.png' %}" class="w-25 h-25 mb-3" alt="" />
          <h1>لم تتم عملية بنجاح !</h1>
          <p>تأكد من الاتصال </p>
        </div>
        <div class="modal-footer bg-danger bg-gradient"></div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
{% block scripts %}
<script>
  function checkPasswords() {
    const password1 = document.getElementById("id_password1");
    const password2 = document.getElementById("id_password2");
    if (password1.value !== password2.value) {
      alert("كلمة المرور وتأكيد كلمة المرور غير متطابقين!");
      password2.value = "";
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
  const dropContainer = document.getElementById("dropcontainer");
  const fileInput = document.getElementById("upload_file");

  dropContainer.addEventListener(
    "dragover",
    (e) => {
      // prevent default to allow drop
      e.preventDefault();
    },
    false
  );

  dropContainer.addEventListener("dragenter", () => {
    dropContainer.classList.add("drag-active");
  });

  dropContainer.addEventListener("dragleave", () => {
    dropContainer.classList.remove("drag-active");
  });

  dropContainer.addEventListener("drop", (e) => {
    e.preventDefault();
    dropContainer.classList.remove("drag-active");
    fileInput.files = e.dataTransfer.files;
  });
  const successMsg = new bootstrap.Modal(document.getElementById("successMsg"));
  const errorMsg = new bootstrap.Modal(document.getElementById("errorMsg"));
  const theModal = document.getElementById("employeeMenu");
  const employeeMenu = new bootstrap.Modal(theModal);

  function updateTable(data) {
    console.log(data)
    $("#tbody").empty();
    if (data.length === 0) {
    } else {
      $("#notFound").hide();

      $.each(data, function (index, employee) {
        let row = $("<tr>");

        row.append($("<td>", { text: employee }));
        row.append($("<td>", { text: "تمت إضافته بنجاح" }));
        row.appendTo("#tbody");
      });
      $("#employeeMenuHead").text("تمت العملية بنجاح ! ").addClass("text-success");
      $("#employeeMenuText").text("تمت عملية اضافة الموظفين بنجاح");
      $(".modal-image").removeClass("d-none")
      $(".spinner-border").hide();

    }
  }

  function showMenu() {
    $("#employeeMenuHead").text("تتم الان عملية رفع الملف ");
    $("#employeeMenuText").text("تتم الان عملية رفع الملف  الرجاء الانتظار");
    $(".spinner-border").show();
    employeeMenu.show();
  }
  $("#FileForm").on("submit", function (event) {
    event.preventDefault();
    var data = new FormData(this);
    $.ajax({
      url: "/settings/",
      type: "POST",
      processData: false,
      contentType: false,
      data: data,
      success: function (data) {
        updateTable(data['added_records']);
        employeeMenu.show();
        theModal.addEventListener('hidden.bs.modal', function (event) {
          window.location.reload();
        });

      },
    })
  })
</script>
{% endblock %}